modEnabled
true
showKey
None
showKeyToggle
false
PiercerSlabFireEnabled
false
PiercerSlabFirexPos
935
PiercerSlabFireyPos
640
PiercerSlabFireWidth
50
PiercerSlabFireHeight
15
PiercerSlabFireFlipEnabled
false
PiercerSlabFireOpacity
1
PiercerSlabFireRemainingColor
0,0,0
PiercerSlabFireChargingColor
0,0,0.6358979
PiercerSlabFireChargedColor
0,0,1
PiercerSlabFireChargeBarType
Classic
PiercerSlabFireNumberDivisions
1
PiercerSlabFireDivisionWidth
0
PiercerSlabFireIconEnabled
false
PiercerSlabFireIconSide
Left
PiercerSlabFireIconDistance
0
PiercerSlabFireBorderThickness
2
PiercerSlabFireBackgroundOpacity
1
PiercerSlabFireBackgroundChargingColor
0.3,0.3,0.3
PiercerSlabFireSoundEnabled
false
PiercerSlabFireSoundEnabledWhileHeld
false
PiercerSlabFireVolumeMult
1
PiercerSlabFireSoundDivisions
1
PiercerSlabFireFractionChargeSound
None
PiercerSlabFireChargeSound
None
PiercerSlabFireflashingIconEnabled
false
PiercerSlabFirexPosFlash
0
PiercerSlabFireyPosFlash
0
PiercerSlabFirewidthFlash
0
PiercerSlabFireheightFlash
0
PiercerSlabFireFlipFlashIcon
false
PiercerSlabFiretypeFlash
LinearFade
PiercerSlabFireLengthFlash
0
PiercerSlabFireColorFlash
1,1,1
PiercerSlabFireNumberFlashes
1
PiercerSlabFireLengthMiniFlash
0
MarksmanSlabFireEnabled
false
MarksmanSlabFirexPos
885
MarksmanSlabFireyPos
640
MarksmanSlabFireWidth
50
MarksmanSlabFireHeight
15
MarksmanSlabFireFlipEnabled
false
MarksmanSlabFireOpacity
1
MarksmanSlabFireRemainingColor
0,0,0
MarksmanSlabFireChargingColor
0,0.661539,0
MarksmanSlabFireChargedColor
0,1,0
MarksmanSlabFireChargeBarType
Classic
MarksmanSlabFireNumberDivisions
1
MarksmanSlabFireDivisionWidth
0
MarksmanSlabFireIconEnabled
false
MarksmanSlabFireIconSide
Left
MarksmanSlabFireIconDistance
0
MarksmanSlabFireBorderThickness
2
MarksmanSlabFireBackgroundOpacity
1
MarksmanSlabFireBackgroundChargingColor
0.3,0.3,0.3
MarksmanSlabFireSoundEnabled
false
MarksmanSlabFireSoundEnabledWhileHeld
false
MarksmanSlabFireVolumeMult
1
MarksmanSlabFireSoundDivisions
1
MarksmanSlabFireFractionChargeSound
None
MarksmanSlabFireChargeSound
None
MarksmanSlabFireflashingIconEnabled
false
MarksmanSlabFirexPosFlash
0
MarksmanSlabFireyPosFlash
0
MarksmanSlabFirewidthFlash
0
MarksmanSlabFireheightFlash
0
MarksmanSlabFireFlipFlashIcon
false
MarksmanSlabFiretypeFlash
LinearFade
MarksmanSlabFireLengthFlash
0
MarksmanSlabFireColorFlash
1,1,1
MarksmanSlabFireNumberFlashes
1
MarksmanSlabFireLengthMiniFlash
0
SharpshooterSlabFireEnabled
false
SharpshooterSlabFirexPos
985
SharpshooterSlabFireyPos
640
SharpshooterSlabFireWidth
50
SharpshooterSlabFireHeight
15
SharpshooterSlabFireFlipEnabled
false
SharpshooterSlabFireOpacity
1
SharpshooterSlabFireRemainingColor
0,0,0
SharpshooterSlabFireChargingColor
0.7333338,0,0
SharpshooterSlabFireChargedColor
1,0,0
SharpshooterSlabFireChargeBarType
Classic
SharpshooterSlabFireNumberDivisions
1
SharpshooterSlabFireDivisionWidth
0
SharpshooterSlabFireIconEnabled
false
SharpshooterSlabFireIconSide
Left
SharpshooterSlabFireIconDistance
0
SharpshooterSlabFireBorderThickness
2
SharpshooterSlabFireBackgroundOpacity
1
SharpshooterSlabFireBackgroundChargingColor
0.3,0.3,0.3
SharpshooterSlabFireSoundEnabled
false
SharpshooterSlabFireSoundEnabledWhileHeld
false
SharpshooterSlabFireVolumeMult
1
SharpshooterSlabFireSoundDivisions
1
SharpshooterSlabFireFractionChargeSound
None
SharpshooterSlabFireChargeSound
None
SharpshooterSlabFireflashingIconEnabled
false
SharpshooterSlabFirexPosFlash
0
SharpshooterSlabFireyPosFlash
0
SharpshooterSlabFirewidthFlash
0
SharpshooterSlabFireheightFlash
0
SharpshooterSlabFireFlipFlashIcon
false
SharpshooterSlabFiretypeFlash
LinearFade
SharpshooterSlabFireLengthFlash
0
SharpshooterSlabFireColorFlash
1,1,1
SharpshooterSlabFireNumberFlashes
1
SharpshooterSlabFireLengthMiniFlash
0
PiercerRevolverAltEnabled
true
PiercerRevolverAltxPos
10
PiercerRevolverAltyPos
70
PiercerRevolverAltWidth
80
PiercerRevolverAltHeight
50
PiercerRevolverAltFlipEnabled
false
PiercerRevolverAltOpacity
1
PiercerRevolverAltRemainingColor
0,0,0
PiercerRevolverAltChargingColor
0,0,1
PiercerRevolverAltChargedColor
0,0.5589748,1
PiercerRevolverAltUsingChargeColor
1,1,1
PiercerRevolverAltUsingChargeChargedColor
0,1,1
PiercerRevolverAltChargeBarType
WeaponImageSplit
PiercerRevolverAltNumberDivisions
1
PiercerRevolverAltDivisionWidth
0
PiercerRevolverAltIconEnabled
false
PiercerRevolverAltIconSide
Left
PiercerRevolverAltIconDistance
0
PiercerRevolverAltBorderThickness
0
PiercerRevolverAltBackgroundOpacity
1
PiercerRevolverAltBackgroundChargingColor
0.3,0.3,0.3
PiercerRevolverAltSoundEnabled
false
PiercerRevolverAltSoundEnabledWhileHeld
false
PiercerRevolverAltVolumeMult
0.15
PiercerRevolverAltSoundDivisions
1
PiercerRevolverAltFractionChargeSound
None
PiercerRevolverAltChargeSound
None
PiercerRevolverAltUsingChargeSound
CustomSound1
PiercerRevolverAltflashingIconEnabled
true
PiercerRevolverAltxPosFlash
10
PiercerRevolverAltyPosFlash
70
PiercerRevolverAltwidthFlash
80
PiercerRevolverAltheightFlash
50
PiercerRevolverAltFlipFlashIcon
false
PiercerRevolverAlttypeFlash
LinearFade
PiercerRevolverAltLengthFlash
0.8
PiercerRevolverAltColorFlash
1,1,1
PiercerRevolverAltNumberFlashes
1
PiercerRevolverAltLengthMiniFlash
0
MarksmanRevolverAltEnabled
true
MarksmanRevolverAltxPos
10
MarksmanRevolverAltyPos
10
MarksmanRevolverAltWidth
92
MarksmanRevolverAltHeight
60
MarksmanRevolverAltFlipEnabled
false
MarksmanRevolverAltOpacity
1
MarksmanRevolverAltRemainingColor
0,0,0
MarksmanRevolverAltChargingColor
0,0.5538466,0
MarksmanRevolverAltChargedColor
0,1,0
MarksmanRevolverAltChargeBarType
WeaponImageSplit
MarksmanRevolverAltNumberDivisions
4
MarksmanRevolverAltDivisionWidth
0
MarksmanRevolverAltIconEnabled
false
MarksmanRevolverAltIconSide
Left
MarksmanRevolverAltIconDistance
0
MarksmanRevolverAltBorderThickness
0
MarksmanRevolverAltBackgroundOpacity
1
MarksmanRevolverAltBackgroundChargingColor
0.3,0.3,0.3
MarksmanRevolverAltSoundEnabled
false
MarksmanRevolverAltSoundEnabledWhileHeld
false
MarksmanRevolverAltVolumeMult
0.5
MarksmanRevolverAltSoundDivisions
4
MarksmanRevolverAltFractionChargeSound
CustomSound1
MarksmanRevolverAltChargeSound
CustomSound1
MarksmanRevolverAltflashingIconEnabled
true
MarksmanRevolverAltxPosFlash
10
MarksmanRevolverAltyPosFlash
10
MarksmanRevolverAltwidthFlash
92
MarksmanRevolverAltheightFlash
60
MarksmanRevolverAltFlipFlashIcon
false
MarksmanRevolverAlttypeFlash
LinearFade
MarksmanRevolverAltLengthFlash
1
MarksmanRevolverAltColorFlash
1,1,1
MarksmanRevolverAltNumberFlashes
4
MarksmanRevolverAltLengthMiniFlash
0.4
SharpshooterRevolverAltEnabled
true
SharpshooterRevolverAltxPos
10
SharpshooterRevolverAltyPos
120
SharpshooterRevolverAltWidth
80
SharpshooterRevolverAltHeight
50
SharpshooterRevolverAltFlipEnabled
false
SharpshooterRevolverAltOpacity
1
SharpshooterRevolverAltRemainingColor
0,0,0
SharpshooterRevolverAltChargingColor
0.6102573,0,0
SharpshooterRevolverAltChargedColor
1,0,0
SharpshooterRevolverAltUsingChargeColor
1,1,1
SharpshooterRevolverAltUsingChargeChargedColor
1,0,0
SharpshooterRevolverAltChargeBarType
WeaponImageSplit
SharpshooterRevolverAltNumberDivisions
1
SharpshooterRevolverAltDivisionWidth
0
SharpshooterRevolverAltIconEnabled
false
SharpshooterRevolverAltIconSide
Left
SharpshooterRevolverAltIconDistance
0
SharpshooterRevolverAltBorderThickness
0
SharpshooterRevolverAltBackgroundOpacity
1
SharpshooterRevolverAltBackgroundChargingColor
0.3,0.3,0.3
SharpshooterRevolverAltSharpshooterBackgroundChargingColor
0.5,0.5,0.5
SharpshooterRevolverAltSoundEnabled
false
SharpshooterRevolverAltSoundEnabledWhileHeld
false
SharpshooterRevolverAltVolumeMult
1
SharpshooterRevolverAltSoundDivisions
1
SharpshooterRevolverAltFractionChargeSound
None
SharpshooterRevolverAltChargeSound
None
SharpshooterRevolverAltUsingChargeSound
None
SharpshooterRevolverAltflashingIconEnabled
true
SharpshooterRevolverAltxPosFlash
10
SharpshooterRevolverAltyPosFlash
120
SharpshooterRevolverAltwidthFlash
80
SharpshooterRevolverAltheightFlash
50
SharpshooterRevolverAltFlipFlashIcon
false
SharpshooterRevolverAlttypeFlash
LinearFade
SharpshooterRevolverAltLengthFlash
0.8
SharpshooterRevolverAltColorFlash
1,1,1
SharpshooterRevolverAltNumberFlashes
1
SharpshooterRevolverAltLengthMiniFlash
0
CoreEjectJackhammerFireEnabled
false
CoreEjectJackhammerFirexPos
0
CoreEjectJackhammerFireyPos
0
CoreEjectJackhammerFireWidth
0
CoreEjectJackhammerFireHeight
0
CoreEjectJackhammerFireFlipEnabled
false
CoreEjectJackhammerFireOpacity
1
CoreEjectJackhammerFireRemainingColor
1,0,0
CoreEjectJackhammerFireChargingColor
0,1,0
CoreEjectJackhammerFireChargedColor
0,0.7,0
CoreEjectJackhammerFireUsingChargeColor
1,1,0
CoreEjectJackhammerFireUsingChargeChargedColor
0,1,1
CoreEjectJackhammerFireChargeBarType
WeaponImageSplit
CoreEjectJackhammerFireNumberDivisions
1
CoreEjectJackhammerFireDivisionWidth
0
CoreEjectJackhammerFireIconEnabled
false
CoreEjectJackhammerFireIconSide
Left
CoreEjectJackhammerFireIconDistance
0
CoreEjectJackhammerFireBorderThickness
0
CoreEjectJackhammerFireBackgroundOpacity
1
CoreEjectJackhammerFireBackgroundChargingColor
0.3,0.3,0.3
CoreEjectJackhammerFireSoundEnabled
false
CoreEjectJackhammerFireSoundEnabledWhileHeld
false
CoreEjectJackhammerFireVolumeMult
1
CoreEjectJackhammerFireSoundDivisions
1
CoreEjectJackhammerFireFractionChargeSound
None
CoreEjectJackhammerFireChargeSound
None
CoreEjectJackhammerFireUsingChargeSound
None
CoreEjectJackhammerFireflashingIconEnabled
false
CoreEjectJackhammerFirexPosFlash
0
CoreEjectJackhammerFireyPosFlash
0
CoreEjectJackhammerFirewidthFlash
0
CoreEjectJackhammerFireheightFlash
0
CoreEjectJackhammerFireFlipFlashIcon
false
CoreEjectJackhammerFiretypeFlash
LinearFade
CoreEjectJackhammerFireLengthFlash
0
CoreEjectJackhammerFireColorFlash
1,1,1
CoreEjectJackhammerFireNumberFlashes
1
CoreEjectJackhammerFireLengthMiniFlash
0
PumpChargeJackhammerFireEnabled
false
PumpChargeJackhammerFirexPos
0
PumpChargeJackhammerFireyPos
0
PumpChargeJackhammerFireWidth
0
PumpChargeJackhammerFireHeight
0
PumpChargeJackhammerFireFlipEnabled
false
PumpChargeJackhammerFireOpacity
1
PumpChargeJackhammerFireRemainingColor
1,0,0
PumpChargeJackhammerFireChargingColor
0,1,0
PumpChargeJackhammerFireChargedColor
0,0.7,0
PumpChargeJackhammerFireUsingChargeColor
1,1,0
PumpChargeJackhammerFireUsingChargeChargedColor
0,1,1
PumpChargeJackhammerFireChargeBarType
WeaponImageSplit
PumpChargeJackhammerFireNumberDivisions
1
PumpChargeJackhammerFireDivisionWidth
0
PumpChargeJackhammerFireIconEnabled
false
PumpChargeJackhammerFireIconSide
Left
PumpChargeJackhammerFireIconDistance
0
PumpChargeJackhammerFireBorderThickness
0
PumpChargeJackhammerFireBackgroundOpacity
1
PumpChargeJackhammerFireBackgroundChargingColor
0.3,0.3,0.3
PumpChargeJackhammerFireSoundEnabled
false
PumpChargeJackhammerFireSoundEnabledWhileHeld
false
PumpChargeJackhammerFireVolumeMult
1
PumpChargeJackhammerFireSoundDivisions
1
PumpChargeJackhammerFireFractionChargeSound
None
PumpChargeJackhammerFireChargeSound
None
PumpChargeJackhammerFireUsingChargeSound
None
PumpChargeJackhammerFireflashingIconEnabled
false
PumpChargeJackhammerFirexPosFlash
0
PumpChargeJackhammerFireyPosFlash
0
PumpChargeJackhammerFirewidthFlash
0
PumpChargeJackhammerFireheightFlash
0
PumpChargeJackhammerFireFlipFlashIcon
false
PumpChargeJackhammerFiretypeFlash
LinearFade
PumpChargeJackhammerFireLengthFlash
0
PumpChargeJackhammerFireColorFlash
1,1,1
PumpChargeJackhammerFireNumberFlashes
1
PumpChargeJackhammerFireLengthMiniFlash
0
Sawed-OnJackhammerFireEnabled
false
Sawed-OnJackhammerFirexPos
10
Sawed-OnJackhammerFireyPos
60
Sawed-OnJackhammerFireWidth
50
Sawed-OnJackhammerFireHeight
85
Sawed-OnJackhammerFireFlipEnabled
false
Sawed-OnJackhammerFireOpacity
1
Sawed-OnJackhammerFireRemainingColor
1,0,0
Sawed-OnJackhammerFireChargingColor
0,1,0
Sawed-OnJackhammerFireChargedColor
0,0.7,0
Sawed-OnJackhammerFireUsingChargeColor
1,1,0
Sawed-OnJackhammerFireUsingChargeChargedColor
0,1,1
Sawed-OnJackhammerFireChargeBarType
WeaponImageSplit
Sawed-OnJackhammerFireNumberDivisions
1
Sawed-OnJackhammerFireDivisionWidth
0
Sawed-OnJackhammerFireIconEnabled
false
Sawed-OnJackhammerFireIconSide
Left
Sawed-OnJackhammerFireIconDistance
0
Sawed-OnJackhammerFireBorderThickness
0
Sawed-OnJackhammerFireBackgroundOpacity
1
Sawed-OnJackhammerFireBackgroundChargingColor
0.3,0.3,0.3
Sawed-OnJackhammerFireSoundEnabled
true
Sawed-OnJackhammerFireSoundEnabledWhileHeld
true
Sawed-OnJackhammerFireVolumeMult
1
Sawed-OnJackhammerFireSoundDivisions
1
Sawed-OnJackhammerFireFractionChargeSound
CustomSound1
Sawed-OnJackhammerFireChargeSound
CustomSound1
Sawed-OnJackhammerFireUsingChargeSound
None
Sawed-OnJackhammerFireflashingIconEnabled
false
Sawed-OnJackhammerFirexPosFlash
0
Sawed-OnJackhammerFireyPosFlash
0
Sawed-OnJackhammerFirewidthFlash
0
Sawed-OnJackhammerFireheightFlash
0
Sawed-OnJackhammerFireFlipFlashIcon
false
Sawed-OnJackhammerFiretypeFlash
LinearFade
Sawed-OnJackhammerFireLengthFlash
0
Sawed-OnJackhammerFireColorFlash
1,1,1
Sawed-OnJackhammerFireNumberFlashes
1
Sawed-OnJackhammerFireLengthMiniFlash
0
CoreEjectShotgunAltEnabled
false
CoreEjectShotgunAltxPos
10
CoreEjectShotgunAltyPos
180
CoreEjectShotgunAltWidth
100
CoreEjectShotgunAltHeight
40
CoreEjectShotgunAltFlipEnabled
false
CoreEjectShotgunAltOpacity
1
CoreEjectShotgunAltChargedColor
0,0.5461543,1
CoreEjectShotgunAltUsingChargeColor
1,1,1
CoreEjectShotgunAltUsingChargeChargedColor
0,1,1
CoreEjectShotgunAltChargeBarType
WeaponImageSplit
CoreEjectShotgunAltNumberDivisions
1
CoreEjectShotgunAltDivisionWidth
0
CoreEjectShotgunAltIconEnabled
false
CoreEjectShotgunAltIconSide
Left
CoreEjectShotgunAltIconDistance
0
CoreEjectShotgunAltBorderThickness
0
CoreEjectShotgunAltBackgroundOpacity
1
CoreEjectShotgunAltBackgroundChargingColor
0.3,0.3,0.3
CoreEjectShotgunAltSoundEnabled
false
CoreEjectShotgunAltSoundEnabledWhileHeld
false
CoreEjectShotgunAltVolumeMult
1
CoreEjectShotgunAltSoundDivisions
1
CoreEjectShotgunAltFractionChargeSound
None
CoreEjectShotgunAltChargeSound
None
CoreEjectShotgunAltUsingChargeSound
None
CoreEjectShotgunAltflashingIconEnabled
false
CoreEjectShotgunAltxPosFlash
10
CoreEjectShotgunAltyPosFlash
180
CoreEjectShotgunAltwidthFlash
40
CoreEjectShotgunAltheightFlash
100
CoreEjectShotgunAltFlipFlashIcon
false
CoreEjectShotgunAlttypeFlash
LinearFade
CoreEjectShotgunAltLengthFlash
0.5
CoreEjectShotgunAltColorFlash
1,1,1
CoreEjectShotgunAltNumberFlashes
1
CoreEjectShotgunAltLengthMiniFlash
0
PumpChargeShotgunAltEnabled
false
PumpChargeShotgunAltxPos
0
PumpChargeShotgunAltyPos
0
PumpChargeShotgunAltWidth
0
PumpChargeShotgunAltHeight
0
PumpChargeShotgunAltFlipEnabled
false
PumpChargeShotgunAltOpacity
1
PumpChargeShotgunAltChargedColor
0,0.7,0
PumpChargeShotgunAltUsingChargeColor
1,1,0
PumpChargeShotgunAltUsingChargeChargedColor
0,1,1
PumpChargeShotgunAltChargeBarType
WeaponImageSplit
PumpChargeShotgunAltNumberDivisions
1
PumpChargeShotgunAltDivisionWidth
0
PumpChargeShotgunAltIconEnabled
false
PumpChargeShotgunAltIconSide
Left
PumpChargeShotgunAltIconDistance
0
PumpChargeShotgunAltBorderThickness
0
PumpChargeShotgunAltBackgroundOpacity
1
PumpChargeShotgunAltBackgroundChargingColor
0.3,0.3,0.3
PumpChargeShotgunAltSoundEnabled
false
PumpChargeShotgunAltSoundEnabledWhileHeld
false
PumpChargeShotgunAltVolumeMult
1
PumpChargeShotgunAltSoundDivisions
1
PumpChargeShotgunAltFractionChargeSound
None
PumpChargeShotgunAltChargeSound
None
PumpChargeShotgunAltUsingChargeSound
None
PumpChargeShotgunAltflashingIconEnabled
false
PumpChargeShotgunAltxPosFlash
0
PumpChargeShotgunAltyPosFlash
0
PumpChargeShotgunAltwidthFlash
0
PumpChargeShotgunAltheightFlash
0
PumpChargeShotgunAltFlipFlashIcon
false
PumpChargeShotgunAlttypeFlash
LinearFade
PumpChargeShotgunAltLengthFlash
0
PumpChargeShotgunAltColorFlash
1,1,1
PumpChargeShotgunAltNumberFlashes
1
PumpChargeShotgunAltLengthMiniFlash
0
Sawed-OnShotgunAltEnabled
false
Sawed-OnShotgunAltxPos
0
Sawed-OnShotgunAltyPos
0
Sawed-OnShotgunAltWidth
0
Sawed-OnShotgunAltHeight
0
Sawed-OnShotgunAltFlipEnabled
false
Sawed-OnShotgunAltOpacity
1
Sawed-OnShotgunAltRemainingColor
1,0,0
Sawed-OnShotgunAltChargingColor
0,1,0
Sawed-OnShotgunAltChargedColor
0,0.7,0
Sawed-OnShotgunAltUsingChargeColor
1,1,0
Sawed-OnShotgunAltUsingChargeChargedColor
0,1,1
Sawed-OnShotgunAltChargeBarType
WeaponImageSplit
Sawed-OnShotgunAltNumberDivisions
1
Sawed-OnShotgunAltDivisionWidth
0
Sawed-OnShotgunAltIconEnabled
false
Sawed-OnShotgunAltIconSide
Left
Sawed-OnShotgunAltIconDistance
0
Sawed-OnShotgunAltBorderThickness
0
Sawed-OnShotgunAltBackgroundOpacity
1
Sawed-OnShotgunAltBackgroundChargingColor
0.3,0.3,0.3
Sawed-OnShotgunAltSoundEnabled
false
Sawed-OnShotgunAltSoundEnabledWhileHeld
false
Sawed-OnShotgunAltVolumeMult
1
Sawed-OnShotgunAltSoundDivisions
1
Sawed-OnShotgunAltFractionChargeSound
None
Sawed-OnShotgunAltChargeSound
None
Sawed-OnShotgunAltUsingChargeSound
None
Sawed-OnShotgunAltflashingIconEnabled
false
Sawed-OnShotgunAltxPosFlash
0
Sawed-OnShotgunAltyPosFlash
0
Sawed-OnShotgunAltwidthFlash
0
Sawed-OnShotgunAltheightFlash
0
Sawed-OnShotgunAltFlipFlashIcon
false
Sawed-OnShotgunAlttypeFlash
LinearFade
Sawed-OnShotgunAltLengthFlash
0
Sawed-OnShotgunAltColorFlash
1,1,1
Sawed-OnShotgunAltNumberFlashes
1
Sawed-OnShotgunAltLengthMiniFlash
0
AttractorNailgunFireEnabled
false
AttractorNailgunFirexPos
0
AttractorNailgunFireyPos
0
AttractorNailgunFireWidth
0
AttractorNailgunFireHeight
0
AttractorNailgunFireFlipEnabled
false
AttractorNailgunFireOpacity
1
AttractorNailgunFireRemainingColor
1,0,0
AttractorNailgunFireChargingColor
0,1,0
AttractorNailgunFireChargedColor
0,0.7,0
AttractorNailgunFireChargeBarType
WeaponImageSplit
AttractorNailgunFireNumberDivisions
1
AttractorNailgunFireDivisionWidth
0
AttractorNailgunFireIconEnabled
false
AttractorNailgunFireIconSide
Left
AttractorNailgunFireIconDistance
0
AttractorNailgunFireBorderThickness
0
AttractorNailgunFireBackgroundOpacity
1
AttractorNailgunFireBackgroundChargingColor
0.3,0.3,0.3
AttractorNailgunFireSoundEnabled
false
AttractorNailgunFireSoundEnabledWhileHeld
false
AttractorNailgunFireVolumeMult
1
AttractorNailgunFireSoundDivisions
1
AttractorNailgunFireFractionChargeSound
None
AttractorNailgunFireChargeSound
None
AttractorNailgunFireflashingIconEnabled
false
AttractorNailgunFirexPosFlash
0
AttractorNailgunFireyPosFlash
0
AttractorNailgunFirewidthFlash
0
AttractorNailgunFireheightFlash
0
AttractorNailgunFireFlipFlashIcon
false
AttractorNailgunFiretypeFlash
LinearFade
AttractorNailgunFireLengthFlash
0
AttractorNailgunFireColorFlash
1,1,1
AttractorNailgunFireNumberFlashes
1
AttractorNailgunFireLengthMiniFlash
0
AttractorNailgunAltEnabled
false
AttractorNailgunAltxPos
500
AttractorNailgunAltyPos
100
AttractorNailgunAltWidth
100
AttractorNailgunAltHeight
50
AttractorNailgunAltFlipEnabled
false
AttractorNailgunAltOpacity
1
AttractorNailgunAltRemainingColor
1,0,0
AttractorNailgunAltChargingColor
0,1,0
AttractorNailgunAltChargedColor
0,0.7,0
AttractorNailgunAltUsingChargeColor
1,1,0
AttractorNailgunAltUsingChargeChargedColor
0,1,1
AttractorNailgunAltChargeBarType
Classic
AttractorNailgunAltNumberDivisions
1
AttractorNailgunAltDivisionWidth
0
AttractorNailgunAltIconEnabled
true
AttractorNailgunAltIconSide
Left
AttractorNailgunAltIconDistance
0
AttractorNailgunAltBorderThickness
0
AttractorNailgunAltBackgroundOpacity
1
AttractorNailgunAltBackgroundChargingColor
0.3,0.3,0.3
AttractorNailgunAltSoundEnabled
false
AttractorNailgunAltSoundEnabledWhileHeld
false
AttractorNailgunAltVolumeMult
1
AttractorNailgunAltSoundDivisions
1
AttractorNailgunAltFractionChargeSound
None
AttractorNailgunAltChargeSound
None
AttractorNailgunAltUsingChargeSound
None
AttractorNailgunAltflashingIconEnabled
false
AttractorNailgunAltxPosFlash
0
AttractorNailgunAltyPosFlash
0
AttractorNailgunAltwidthFlash
0
AttractorNailgunAltheightFlash
0
AttractorNailgunAltFlipFlashIcon
false
AttractorNailgunAlttypeFlash
LinearFade
AttractorNailgunAltLengthFlash
0
AttractorNailgunAltColorFlash
1,1,1
AttractorNailgunAltNumberFlashes
1
AttractorNailgunAltLengthMiniFlash
0
OverheatNailgunAltEnabled
false
OverheatNailgunAltxPos
400
OverheatNailgunAltyPos
200
OverheatNailgunAltWidth
100
OverheatNailgunAltHeight
50
OverheatNailgunAltFlipEnabled
false
OverheatNailgunAltOpacity
1
OverheatNailgunAltRemainingColor
1,0,0
OverheatNailgunAltChargingColor
0,1,0
OverheatNailgunAltChargedColor
0,0.7,0
OverheatNailgunAltUsingChargeColor
1,1,0
OverheatNailgunAltUsingChargeChargedColor
0,1,1
OverheatNailgunAltChargeBarType
Classic
OverheatNailgunAltNumberDivisions
1
OverheatNailgunAltDivisionWidth
0
OverheatNailgunAltIconEnabled
true
OverheatNailgunAltIconSide
Left
OverheatNailgunAltIconDistance
0
OverheatNailgunAltBorderThickness
0
OverheatNailgunAltBackgroundOpacity
1
OverheatNailgunAltBackgroundChargingColor
0.3,0.3,0.3
OverheatNailgunAltSoundEnabled
false
OverheatNailgunAltSoundEnabledWhileHeld
false
OverheatNailgunAltVolumeMult
1
OverheatNailgunAltSoundDivisions
1
OverheatNailgunAltFractionChargeSound
None
OverheatNailgunAltChargeSound
None
OverheatNailgunAltUsingChargeSound
None
OverheatNailgunAltflashingIconEnabled
false
OverheatNailgunAltxPosFlash
0
OverheatNailgunAltyPosFlash
0
OverheatNailgunAltwidthFlash
0
OverheatNailgunAltheightFlash
0
OverheatNailgunAltFlipFlashIcon
false
OverheatNailgunAlttypeFlash
LinearFade
OverheatNailgunAltLengthFlash
0
OverheatNailgunAltColorFlash
1,1,1
OverheatNailgunAltNumberFlashes
1
OverheatNailgunAltLengthMiniFlash
0
JumpstartNailgunAltEnabled
false
JumpstartNailgunAltxPos
400
JumpstartNailgunAltyPos
300
JumpstartNailgunAltWidth
100
JumpstartNailgunAltHeight
50
JumpstartNailgunAltFlipEnabled
false
JumpstartNailgunAltOpacity
1
JumpstartNailgunAltRemainingColor
1,0,0
JumpstartNailgunAltChargingColor
0,1,0
JumpstartNailgunAltChargedColor
0,0.7,0
JumpstartNailgunAltUsingChargeColor
1,1,0
JumpstartNailgunAltChargeBarType
Classic
JumpstartNailgunAltNumberDivisions
1
JumpstartNailgunAltDivisionWidth
0
JumpstartNailgunAltIconEnabled
true
JumpstartNailgunAltIconSide
Left
JumpstartNailgunAltIconDistance
0
JumpstartNailgunAltBorderThickness
0
JumpstartNailgunAltBackgroundOpacity
1
JumpstartNailgunAltBackgroundChargingColor
0.3,0.3,0.3
JumpstartNailgunAltSoundEnabled
false
JumpstartNailgunAltSoundEnabledWhileHeld
false
JumpstartNailgunAltVolumeMult
1
JumpstartNailgunAltSoundDivisions
1
JumpstartNailgunAltFractionChargeSound
None
JumpstartNailgunAltChargeSound
None
JumpstartNailgunAltUsingChargeSound
None
JumpstartNailgunAltflashingIconEnabled
false
JumpstartNailgunAltxPosFlash
0
JumpstartNailgunAltyPosFlash
0
JumpstartNailgunAltwidthFlash
0
JumpstartNailgunAltheightFlash
0
JumpstartNailgunAltFlipFlashIcon
false
JumpstartNailgunAlttypeFlash
LinearFade
JumpstartNailgunAltLengthFlash
0
JumpstartNailgunAltColorFlash
1,1,1
JumpstartNailgunAltNumberFlashes
1
JumpstartNailgunAltLengthMiniFlash
0
RailcannonEnabled
false
RailcannonxPos
0
RailcannonyPos
0
RailcannonWidth
0
RailcannonHeight
0
RailcannonFlipEnabled
false
RailcannonOpacity
1
RailcannonRemainingColor
1,0,0
RailcannonChargingColor
0,1,0
RailcannonChargedColor
0,0.7,0
RailcannonChargeBarType
WeaponImageSplit
RailcannonNumberDivisions
1
RailcannonDivisionWidth
0
RailcannonIconEnabled
false
RailcannonIconSide
Left
RailcannonIconDistance
0
RailcannonBorderThickness
0
RailcannonBackgroundOpacity
1
RailcannonBackgroundChargingColor
0.3,0.3,0.3
RailcannonSoundEnabled
false
RailcannonSoundEnabledWhileHeld
false
RailcannonVolumeMult
1
RailcannonSoundDivisions
1
RailcannonFractionChargeSound
None
RailcannonChargeSound
None
RailcannonflashingIconEnabled
false
RailcannonxPosFlash
0
RailcannonyPosFlash
0
RailcannonwidthFlash
0
RailcannonheightFlash
0
RailcannonFlipFlashIcon
false
RailcannontypeFlash
LinearFade
RailcannonLengthFlash
0
RailcannonColorFlash
1,1,1
RailcannonNumberFlashes
1
RailcannonLengthMiniFlash
0
RocketLauncherFireEnabled
false
RocketLauncherFirexPos
0
RocketLauncherFireyPos
0
RocketLauncherFireWidth
0
RocketLauncherFireHeight
0
RocketLauncherFireFlipEnabled
false
RocketLauncherFireOpacity
1
RocketLauncherFireRemainingColor
1,0,0
RocketLauncherFireChargingColor
0,1,0
RocketLauncherFireChargedColor
0,0.7,0
RocketLauncherFireChargeBarType
WeaponImageSplit
RocketLauncherFireNumberDivisions
1
RocketLauncherFireDivisionWidth
0
RocketLauncherFireIconEnabled
false
RocketLauncherFireIconSide
Left
RocketLauncherFireIconDistance
0
RocketLauncherFireBorderThickness
0
RocketLauncherFireBackgroundOpacity
1
RocketLauncherFireBackgroundChargingColor
0.3,0.3,0.3
RocketLauncherFireSoundEnabled
false
RocketLauncherFireSoundEnabledWhileHeld
false
RocketLauncherFireVolumeMult
1
RocketLauncherFireSoundDivisions
1
RocketLauncherFireFractionChargeSound
None
RocketLauncherFireChargeSound
None
RocketLauncherFireflashingIconEnabled
false
RocketLauncherFirexPosFlash
0
RocketLauncherFireyPosFlash
0
RocketLauncherFirewidthFlash
0
RocketLauncherFireheightFlash
0
RocketLauncherFireFlipFlashIcon
false
RocketLauncherFiretypeFlash
LinearFade
RocketLauncherFireLengthFlash
0
RocketLauncherFireColorFlash
1,1,1
RocketLauncherFireNumberFlashes
1
RocketLauncherFireLengthMiniFlash
0
FreezeframeRocketLauncherAltEnabled
false
FreezeframeRocketLauncherAltxPos
100
FreezeframeRocketLauncherAltyPos
300
FreezeframeRocketLauncherAltWidth
100
FreezeframeRocketLauncherAltHeight
50
FreezeframeRocketLauncherAltFlipEnabled
false
FreezeframeRocketLauncherAltOpacity
1
FreezeframeRocketLauncherAltRemainingColor
1,0,0
FreezeframeRocketLauncherAltChargingColor
0,1,0
FreezeframeRocketLauncherAltChargedColor
0,0.7,0
FreezeframeRocketLauncherAltChargeBarType
Classic
FreezeframeRocketLauncherAltNumberDivisions
1
FreezeframeRocketLauncherAltDivisionWidth
0
FreezeframeRocketLauncherAltIconEnabled
true
FreezeframeRocketLauncherAltIconSide
Left
FreezeframeRocketLauncherAltIconDistance
0
FreezeframeRocketLauncherAltBorderThickness
0
FreezeframeRocketLauncherAltBackgroundOpacity
1
FreezeframeRocketLauncherAltBackgroundChargingColor
0.3,0.3,0.3
FreezeframeRocketLauncherAltSoundEnabled
false
FreezeframeRocketLauncherAltSoundEnabledWhileHeld
false
FreezeframeRocketLauncherAltVolumeMult
1
FreezeframeRocketLauncherAltSoundDivisions
1
FreezeframeRocketLauncherAltFractionChargeSound
None
FreezeframeRocketLauncherAltChargeSound
None
FreezeframeRocketLauncherAltflashingIconEnabled
false
FreezeframeRocketLauncherAltxPosFlash
0
FreezeframeRocketLauncherAltyPosFlash
0
FreezeframeRocketLauncherAltwidthFlash
0
FreezeframeRocketLauncherAltheightFlash
0
FreezeframeRocketLauncherAltFlipFlashIcon
false
FreezeframeRocketLauncherAlttypeFlash
LinearFade
FreezeframeRocketLauncherAltLengthFlash
0
FreezeframeRocketLauncherAltColorFlash
1,1,1
FreezeframeRocketLauncherAltNumberFlashes
1
FreezeframeRocketLauncherAltLengthMiniFlash
0
S.R.S.RocketLauncherAltEnabled
false
S.R.S.RocketLauncherAltxPos
100
S.R.S.RocketLauncherAltyPos
60
S.R.S.RocketLauncherAltWidth
100
S.R.S.RocketLauncherAltHeight
50
S.R.S.RocketLauncherAltFlipEnabled
false
S.R.S.RocketLauncherAltOpacity
1
S.R.S.RocketLauncherAltRemainingColor
1,0,0
S.R.S.RocketLauncherAltChargingColor
0,1,0
S.R.S.RocketLauncherAltChargedColor
0,0.7,0
S.R.S.RocketLauncherAltUsingChargeColor
1,1,0
S.R.S.RocketLauncherAltUsingChargeChargedColor
0,1,1
S.R.S.RocketLauncherAltChargeBarType
Classic
S.R.S.RocketLauncherAltNumberDivisions
1
S.R.S.RocketLauncherAltDivisionWidth
0
S.R.S.RocketLauncherAltIconEnabled
true
S.R.S.RocketLauncherAltIconSide
Left
S.R.S.RocketLauncherAltIconDistance
0
S.R.S.RocketLauncherAltBorderThickness
0
S.R.S.RocketLauncherAltBackgroundOpacity
1
S.R.S.RocketLauncherAltBackgroundChargingColor
0.3,0.3,0.3
S.R.S.RocketLauncherAltSoundEnabled
false
S.R.S.RocketLauncherAltSoundEnabledWhileHeld
false
S.R.S.RocketLauncherAltVolumeMult
1
S.R.S.RocketLauncherAltSoundDivisions
1
S.R.S.RocketLauncherAltFractionChargeSound
None
S.R.S.RocketLauncherAltChargeSound
None
S.R.S.RocketLauncherAltUsingChargeSound
None
S.R.S.RocketLauncherAltflashingIconEnabled
false
S.R.S.RocketLauncherAltxPosFlash
0
S.R.S.RocketLauncherAltyPosFlash
0
S.R.S.RocketLauncherAltwidthFlash
0
S.R.S.RocketLauncherAltheightFlash
0
S.R.S.RocketLauncherAltFlipFlashIcon
false
S.R.S.RocketLauncherAlttypeFlash
LinearFade
S.R.S.RocketLauncherAltLengthFlash
0
S.R.S.RocketLauncherAltColorFlash
1,1,1
S.R.S.RocketLauncherAltNumberFlashes
1
S.R.S.RocketLauncherAltLengthMiniFlash
0
FirestarterRocketLauncherAltEnabled
false
FirestarterRocketLauncherAltxPos
100
FirestarterRocketLauncherAltyPos
200
FirestarterRocketLauncherAltWidth
100
FirestarterRocketLauncherAltHeight
50
FirestarterRocketLauncherAltFlipEnabled
false
FirestarterRocketLauncherAltOpacity
1
FirestarterRocketLauncherAltRemainingColor
1,0,0
FirestarterRocketLauncherAltChargingColor
0,1,0
FirestarterRocketLauncherAltChargedColor
0,0.7,0
FirestarterRocketLauncherAltChargeBarType
Classic
FirestarterRocketLauncherAltNumberDivisions
1
FirestarterRocketLauncherAltDivisionWidth
0
FirestarterRocketLauncherAltIconEnabled
true
FirestarterRocketLauncherAltIconSide
Left
FirestarterRocketLauncherAltIconDistance
0
FirestarterRocketLauncherAltBorderThickness
0
FirestarterRocketLauncherAltBackgroundOpacity
1
FirestarterRocketLauncherAltBackgroundChargingColor
0.3,0.3,0.3
FirestarterRocketLauncherAltSoundEnabled
false
FirestarterRocketLauncherAltSoundEnabledWhileHeld
false
FirestarterRocketLauncherAltVolumeMult
1
FirestarterRocketLauncherAltSoundDivisions
1
FirestarterRocketLauncherAltFractionChargeSound
None
FirestarterRocketLauncherAltChargeSound
None
FirestarterRocketLauncherAltflashingIconEnabled
false
FirestarterRocketLauncherAltxPosFlash
0
FirestarterRocketLauncherAltyPosFlash
0
FirestarterRocketLauncherAltwidthFlash
0
FirestarterRocketLauncherAltheightFlash
0
FirestarterRocketLauncherAltFlipFlashIcon
false
FirestarterRocketLauncherAlttypeFlash
LinearFade
FirestarterRocketLauncherAltLengthFlash
0
FirestarterRocketLauncherAltColorFlash
1,1,1
FirestarterRocketLauncherAltNumberFlashes
1
FirestarterRocketLauncherAltLengthMiniFlash
0
FistEnabled
false
FistxPos
0
FistyPos
0
FistWidth
0
FistHeight
0
FistFlipEnabled
false
FistOpacity
1
FistRemainingColor
1,0,0
FistChargingColor
0,1,0
FistChargedColor
0,0.7,0
FistChargeBarType
WeaponImageSplit
FistNumberDivisions
1
FistDivisionWidth
0
FistIconEnabled
false
FistIconSide
Left
FistIconDistance
0
FistBorderThickness
0
FistBackgroundOpacity
1
FistBackgroundChargingColor
0.3,0.3,0.3
FistSoundEnabled
false
FistSoundEnabledWhileHeld
false
FistVolumeMult
1
FistSoundDivisions
1
FistFractionChargeSound
None
FistChargeSound
None
FistflashingIconEnabled
false
FistxPosFlash
0
FistyPosFlash
0
FistwidthFlash
0
FistheightFlash
0
FistFlipFlashIcon
false
FisttypeFlash
LinearFade
FistLengthFlash
0
FistColorFlash
1,1,1
FistNumberFlashes
1
FistLengthMiniFlash
0
PiercerSlabFireChargeBarIconColor
0,0.4974363,1
MarksmanSlabFireChargeBarIconColor
0,1,0
SharpshooterSlabFireChargeBarIconColor
1,0,0
PiercerRevolverAltChargeBarIconColor
0,0.4974363,1
MarksmanRevolverAltChargeBarIconColor
0,1,0
SharpshooterRevolverAltChargeBarIconColor
1,0,0
CoreEjectJackhammerFireChargeBarIconColor
0,0.4974363,1
PumpChargeJackhammerFireChargeBarIconColor
0,1,0
Sawed-OnJackhammerFireChargeBarIconColor
1,0,0
CoreEjectShotgunAltChargeBarIconColor
0,0.4974363,1
PumpChargeShotgunAltChargeBarIconColor
0,1,0
Sawed-OnShotgunAltChargeBarIconColor
1,0,0
AttractorNailgunFireChargeBarIconColor
0,0.4974363,1
AttractorNailgunAltChargeBarIconColor
0,0.4974363,1
OverheatNailgunAltChargeBarIconColor
0,1,0
JumpstartNailgunAltChargeBarIconColor
1,0,0
RailcannonChargeBarIconColor
0,0,0
RocketLauncherFireChargeBarIconColor
0,0,0
FreezeframeRocketLauncherAltChargeBarIconColor
0,0.4974363,1
S.R.S.RocketLauncherAltChargeBarIconColor
1,1,0
FirestarterRocketLauncherAltChargeBarIconColor
1,0,0
FistChargeBarIconColor
0,0,0
settingsColorsActivated
true
ShowIconsInMenu
true
PiercerSlabFireMovingHUD
true
MarksmanSlabFireMovingHUD
true
SharpshooterSlabFireMovingHUD
true
PiercerRevolverAltMovingHUD
true
MarksmanRevolverAltMovingHUD
true
SharpshooterRevolverAltMovingHUD
true
CoreEjectJackhammerFireMovingHUD
false
PumpChargeJackhammerFireMovingHUD
false
Sawed-OnJackhammerFireMovingHUD
false
CoreEjectShotgunAltMovingHUD
true
PumpChargeShotgunAltMovingHUD
false
Sawed-OnShotgunAltMovingHUD
false
AttractorNailgunFireMovingHUD
false
AttractorNailgunAltMovingHUD
false
OverheatNailgunAltMovingHUD
false
JumpstartNailgunAltMovingHUD
false
RailcannonMovingHUD
false
RocketLauncherFireMovingHUD
false
FreezeframeRocketLauncherAltMovingHUD
false
S.R.S.RocketLauncherAltMovingHUD
false
FirestarterRocketLauncherAltMovingHUD
false
FistMovingHUD
false
MovingHUDAmount
1.25
